<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>TẤT CẢ CÔNG TY</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover dataTables-example">
          <thead>
          <tr>
            <th>Tên</th>
            <th>Thông tin</th>
            <th>Tác vụ</th>
          </tr>
          </thead>
          <tbody>
          <% @companies.each do |company| %>
            <tr class="gradeA">
              <td><%= company.name %></td>
              <td>
                <ul>
                  <% company.groups.each do |group| %>
                    <li class="dropdown">
                      Phòng <strong><%= group.name %></strong> có <strong><%= group.users.size %></strong> nhân viên
                    </li>
                  <% end  %>
                </ul>
              </td>
              <td>
                <%= link_to cap_nhat_cong_ty_path(company), class:"btn btn-white btn-sm" do %>
                  <i class="fa fa-pencil"></i> Cập nhật
                <% end %>
                <%= link_to xoa_cong_ty_path(company), method: :delete, data: { confirm: "Bạn có chắc chắc muốn xoá công ty này?" }, class:"btn btn-white btn-sm" do %>
                  <i class="fa fa-trash"></i> Xoá
                <% end %>
              </td>
            </tr>
          <% end %>
          </table>
      </div>
    </div>
  </div>
</div>