<% if object.is_a? User %>
  <h4><%= link_to object.name.full, cap_nhat_nhan_vien_path(object), class:"text-danger" %></h4>
<% elsif object.is_a? Regulation %>
  <h4><%= link_to object.title, cap_nhat_quy_dinh_quy_trinh_path(object), class:"text-danger" %></h4>
<% elsif object.is_a? Notification %>
  <h4><%= link_to object.title, cap_nhat_thong_bao_path(object), class:"text-danger" %></h4>
<% elsif object.is_a? Document %>
  <h4><%= link_to object.title, cap_nhat_van_ban_bieu_mau_path(object), class:"text-danger" %></h4>
<% elsif object.is_a? News %>
  <h4><%= link_to object.title, cap_nhat_tin_tuc_path(object), class:"text-danger" %></h4>
<% elsif object.is_a? Group %>
<h4><%= link_to object.name, cap_nhat_phong_ban_path(object), class: "text-danger" %></h4>
<% end %>