<%= form_for [:admin, @news], html: { multipart: true }, class: "form-horizontal" do |form| %>
  <div class="form-group">
    <label class="col-sm-2 control-label">Tiêu đề</label>
    <div class="col-sm-10 m-b">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Nội dung</label>
    <div class="col-sm-10 m-b">
      <%= form.cktext_area :body, ckeditor: { language: 'vi'} %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Trạng thái</label>
    <div class="col-sm-10 m-b">
      <%= form.select :status, News.statuses.keys.collect { |g| [t("views.statuses.#{g.downcase}"), g] }, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2 m-t-sm">
      <%= link_to "Quay lại", tat_ca_tin_tuc_path, class: "btn btn-white m-r-xs" %>
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>