<% provide(:title, 'Admin - Cập nhật công ty') %>
<%= render 'shared/admin/navigation' %>
<%= render 'shared/admin/flash_messages' %>
<div id="page-wrapper" class="gray-bg">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Quản lý dữ liệu</h2>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Trang chủ', admin_path %>
        </li>
        <li class="active">
          <strong>Cập nhật công ty</strong>
        </li>
      </ol>
    </div>
  </div>
  <%= render 'form', company: @company %>
  <%= render 'shared/admin/footer' %>
</div>