<% provide(:title, 'Chi tiết thông báo') %>
<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" type="button"><%= @page_notification.company_name %></button>
          </div>
          <div class="text-center article-title">
            <span class="text-muted"><i class="fa fa-clock-o"></i> <%= @page_notification.created_at.strftime("%d-%m-%Y") %></span>
            <h1>
              <%= @page_notification.title %>
            </h1>
          </div>
          <p>
            <%= @page_notification.body.to_s.html_safe %>
          </p>
          <% @page_notification.attachments.each do |attachment| %>
            <strong>Tệp đính kèm: </strong><%= link_to "#{attachment.file.filename}", pdfjs.full_path(file: "#{attachment.url}") %>
            <span class="pull-right">
              <%= link_to tat_ca_thong_bao_cong_ty_path(@page_notification.company_id), class: "btn btn-primary" do %>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Quay lại
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/pages/footer' %>
