<% provide(:title, 'Chi tiết nhân viên') %>
<%= render 'shared/pages/navigation' %>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Thông tin cá nhân</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
            <%= image_tag(@page_user.avatar, class:"img-responsive", style: "height: 250px; widht: 250px") %>
          </div>
          <div class="ibox-content profile-content">
            <h4><strong><%= @page_user.name.full %></strong></h4>
            <p><i class="fa fa-map-marker"></i> <%= @page_user.address %></p>
            <h4>
              Thông tin
            </h4>
            <ul class="m-b-xs">
              <li>
                <p><i class="fa fa-birthday-cake" aria-hidden="true"></i> <%= @page_user.birthday %></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> <%= @page_user.cell_phone %></p>
                <p><i class="fa fa-id-card" aria-hidden="true"></i> <%= @page_user.employee_number %></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= @page_user.email %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Thông tin khác</h5>
        </div>
        <div class="ibox-content">
          <div>
            <div class="feed-activity-list">
              <div class="feed-element">
                <div class="pull-left">
                  <span><i class="fa fa-building" aria-hidden="true"></i> <%= @page_user.company_name %></span>
                </div>
              </div>
              <div class="feed-element">
                <div class="pull-left">
                  <span><i class="fa fa-users" aria-hidden="true"></i> <%= @page_user.group_name %></span>
                </div>
              </div>
              <div class="feed-element">
                <div class="pull-left">
                  <span><i class="fa fa-info-circle" aria-hidden="true"></i> <%= @page_user.bio %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <span>
        <%= link_to tat_ca_nhan_vien_cong_ty_path(@page_user.company_id), class: "btn btn-primary" do %>
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> Quay lại
        <% end %>
      </span>
    </div>
  </div>
</div>
<%= render 'shared/pages/footer' %>
