<%= render 'shared/pages/navigation' %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="ibox float-e-margins">
        <div>
          <h3>
            <%= @array_of_result_objects.flatten.count %> kết quả cho từ khoá: <span class="text-danger"><%= params["search"] %></span>
          </h3>
          <div class="hr-line-dashed"></div>
          <% @array_of_result_objects.flatten.each do |array_of_result_object| %>
            <div class="search-result">
              <%= render 'home/result', object: array_of_result_object %>
              <div class="hr-line-dashed"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/pages/footer' %>
