<% provide(:title, 'Quy định, nội quy') %>
<%= render 'shared/pages/navigation' %>
<div class="wrapper wrapper-content  animated fadeInRight blog">
  <div class="row">
    <% @page_regulations.each do |page_regulation| %>
      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="text-danger"><%= page_regulation.title %></h3>
            <div class="small m-b-xs">
              <strong>Admin</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> <%= page_regulation.created_at.strftime("%d-%m-%Y") %></span>
            </div>
            <p>
              <%= page_regulation.body %>
            </p>
            <div class="row">
              <div class="col-md-6">
                <%= link_to chi_tiet_quy_dinh_path(page_regulation), class: "btn btn-primary btn-xs" do %>
                  Chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @page_regulations.count > 10 %>
  <%= render 'shared/pages/pagy_navigation' %>
<% end %>
<%= render 'shared/pages/footer' %>

