<% provide(:title, 'Chi tiết quy định, quy trình') %>
<%= render 'shared/pages/navigation' %>
<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" type="button"><%= @page_regulation.group_name %></button>
            <button class="btn btn-info btn-xs" type="button"><%= @page_regulation.category_name %></button>
          </div>
          <div class="text-center article-title">
            <span class="text-muted"><i class="fa fa-clock-o"></i> <%= @page_regulation.created_at.strftime("%d-%m-%Y") %></span>
            <h3>
              <%= @page_regulation.title %>
            </h3>
          </div>
          <p>
            <%= @page_regulation.body.to_s.html_safe %>
          </p>
          <% @page_regulation.attachments.each do |attachment| %>
            <% if attachment.url.split("/").last.include?("pdf") %>
              <strong>Tệp đính kèm: </strong><%= link_to "#{attachment.file.filename}", pdfjs.full_path(file: "#{attachment.url}") %>
            <% else %>
              <strong>Tải về:</strong> <i class="fa fa-download" aria-hidden="true"></i>
              <%= link_to attachment.file.filename, "#{attachment.url}" %>
            <% end %>
          <% end %>
          <span class="pull-right">
              <%= link_to tat_ca_quy_dinh_danh_muc_path(@page_regulation.category_id), class: "btn btn-primary" do %>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Quay lại
              <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/pages/footer' %>
