<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>QUY ĐỊNH, QUY TRÌNH</h5>
        <div class="ibox-tools">
          <%= link_to "Thêm mới", them_moi_quy_dinh_quy_trinh_path, class:"btn btn-primary btn-xs" %>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover dataTables-example">
          <thead>
          <tr>
            <th>Tiêu đề</th>
            <th>Nội dung</th>
            <th>Phòng ban</th>
            <th>Danh mục</th>
            <th>Ngày tạo</th>
            <th>Tác vụ</th>
          </tr>
          </thead>
          <tbody>
          <% objects.each do |object| %>
            <tr class="gradeA">
              <td><%= object.title %></td>
              <td><%= object.body.truncate(200).html_safe %></td>
              <td><%= object.group_name %></td>
              <td><%= object.category_name %></td>
              <td><%= object.created_at.strftime("%d-%m-%Y") %></td>
              <td>
                <%= link_to cap_nhat_quy_dinh_quy_trinh_path(object), class:"btn btn-white btn-sm" do %>
                  <i class="fa fa-pencil"></i> Cập nhật
                <% end %>
                <%= link_to xoa_quy_dinh_quy_trinh_path(object), method: :delete, data: { confirm: "Bạn có chắc chắc muốn xoá quy định, quy trình này?" }, class:"btn btn-white btn-sm" do %>
                  <i class="fa fa-trash"></i> Xoá
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= render 'shared/pages/pagy_navigation' %>
      </div>
    </div>
  </div>
</div>