<% provide(:title, 'Văn bản, biểu mẫu') %>
<%= render 'shared/pages/navigation' %>
<div class="wrapper wrapper-content  animated fadeInRight blog">
  <div class="row">
    <% @page_documents.each do |page_document| %>
      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="text-danger"><%= page_document.title %></h3>
            <div class="small m-b-xs">
              <strong>Admin</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> <%= page_document.created_at.strftime("%d-%m-%Y") %></span>
            </div>
            <p>
              Tải về: <i class="fa fa-download" aria-hidden="true"></i>
              <%= link_to page_document.attachment.file.filename, page_document.attachment.url %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if params["search"] %>
  <%= render 'documents/search' %>
<% end %>
<% if @page_documents.count > 10 %>
  <%= render 'shared/pages/pagy_navigation' %>
<% end %>
<%= render 'shared/pages/footer' %>

