<% provide(:title, 'Admin - Chi tiết danh mục') %>
<%= render 'shared/admin/navigation' %>
<%= render 'shared/admin/flash_messages' %>
<div id="page-wrapper" class="gray-bg">
  <%= render 'shared/admin/top_navbar' %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Tổng quan dữ liệu</h2>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Trang chủ', admin_path %>
        </li>
        <li><%= link_to 'Tất cả danh mục', tat_ca_danh_muc_path %></li>
        <li class="active">
          <strong><%= @category.name %></strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <%= render 'admin/regulations/regulations', objects: @regulations_of_category  %>
  </div>
</div>
<%= render 'shared/admin/footer' %>