<footer class="section footer-classic context-dark bg-image" style="background: #c22b32;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a href="/"><img class="brand-logo-light m-t" src="http://lcfoods.vn/img/logo.jpg" alt="" width="140" height="37"></a>
          <h3 class="m-t"><strong>CÔNG TY TNHH THỰC PHẨM LA CUSINA</strong></h3>
          <p>
            <span><%= DateTime.now.year %> &copy; All Rights Reserved.</span>
          </p>
        </div>
      </div>
      <div class="col-md-4 m-t">
        <h5>TRỤ SỞ CHÍNH</h5>
        <dl class="contact-list">
          <dt>Địa chỉ:</dt>
          <dd>Thửa đất số 462, tờ bản đồ số 36, ấp Lồ Ồ, Xã An Tây, Thị xã Bến Cát, Tỉnh Bình Dương</dd>
        </dl>
        <dl class="contact-list">
          <dt>Email:</dt>
          <dd><a href="mailto:#">info@lcfoods.vn</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>Điện thoại:</dt>
          <dd>0274.3579.243</dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3 m-t">
        <h5>LIÊN KẾT NHANH</h5>
        <ul class="nav-list">
          <li><%= link_to "Trang chủ", root_path %></li>
          <li><%= link_to "Danh sách nhân viên", tat_ca_nhan_vien_path %></li>
          <li><%= link_to "Quy chế, nội quy", tat_ca_quy_dinh_path %></li>
          <li><%= link_to "Thông báo", tat_ca_thong_bao_path %></li>
          <li><%= link_to "Tin tức", thong_tin_chung_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>