<div class="navbar navbar-default navbar-fixed" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #c22b32; font-weight: bold">LC FOODS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-search" aria-hidden="true"></i> </a>
          <form role="search" class="navbar-form-custom" method="post" action="">
            <div class="form-group">
              <input type="text" placeholder="Tìm kiếm" class="form-control" name="top-search" id="top-search"/>
            </div>
          </form>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active" style="border-left: 4px solid #c22b32;"><a href="/">Trang chủ</a></li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhân viên<b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <% Company.all.order(created_at: :desc).each do |page_company| %>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= page_company.name %></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phòng ban</a>
                    <ul class="dropdown-menu">
                      <% page_company.groups.each do |group| %>
                        <li><%= link_to group.name, tat_ca_nhan_vien_phong_ban_path(group) %></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nội dung, quy chế<b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <% Company.all.order(created_at: :desc).each do |page_company| %>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= page_company.name %></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Tất cả nội dung, quy chế", tat_ca_quy_dinh_phong_ban_path(page_company), class:"dropdown-toggle" %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thông báo<b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <% Company.all.order(created_at: :desc).each do |page_company| %>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= page_company.name %></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Tất cả thông báo", tat_ca_thong_bao_phong_ban_path(page_company), class:"dropdown-toggle" %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>